* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
}

.wrapper .title {
  width: 100%;
  height: 100vh;
  background-image: url(../img/backgrnd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
}

.wrapper .title .logo {
  padding-top: 10vmin;
}

.wrapper .title .description {
  padding-top: 5vmin;
}

.wrapper .title .description h1 {
  text-transform: uppercase;
  font-size: 7vmin;
  font-weight: 900;
  padding-bottom: 2vmin;
}

.wrapper .title .description p {
  padding-top: 1vmin;
  color: #888888;
  font-size: 2.5vmin;
}

.wrapper .title .counter {
  color: white;
  padding: 12vmin 0;
}

.wrapper .title .counter .counter__block {
  display: inline-block;
  padding: 0 2vw;
}

.wrapper .title .counter .counter__block .digits {
  font-size: 7vmin;
  font-weight: 800;
}

.wrapper .title .counter .counter__block .letters {
  text-transform: uppercase;
  padding-top: 1vmin;
}

.wrapper .title input[type="email"] {
  background-color: transparent;
  width: 30vw;
  height: 4vh;
  color: white;
  font-size: 1.5vmin;
  border-bottom: 2px solid white;
}

.wrapper .title input[type="email"]::-webkit-input-placeholder {
  color: white;
  font-size: 1.5vmin;
}

.wrapper .title input[type="email"]:focus {
  color: white;
  font-size: 1.5vmin;
}

.wrapper .middle {
  width: 100%;
  height: 70vh;
  padding: 9vh 0;
}

.wrapper .middle .span__red {
  color: #ea1e63;
}

.wrapper .middle h2 {
  text-transform: uppercase;
  font-size: 2.5vmin;
  font-weight: bold;
  padding-bottom: 3vmin;
}

.wrapper .middle p {
  color: #888888;
  font-size: 1.7vmin;
  line-height: 2.5;
  margin-bottom: 5vmin;
}

.wrapper .middle .left {
  height: 100%;
  width: 60%;
  float: left;
  padding: 0 7vw;
}

.wrapper .middle .left .graph {
  width: 100%;
}

.wrapper .middle .left .graph .bar {
  height: 5px;
  position: relative;
  margin: 15px 0 30px;
}

.wrapper .middle .left .graph .bar::before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 5px;
  top: 0;
  z-index: -2;
  background: #888888;
}

.wrapper .middle .left .graph .bar::after {
  content: '';
  background: #4fcfdd;
  height: 5px;
  transition: 0.7s;
  display: block;
  width: 100%;
  animation: 3s slidein;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper .middle .left .graph .bar1::after {
  max-width: 90%;
}

.wrapper .middle .left .graph .bar2::after {
  max-width: 86%;
}

.wrapper .middle .left .graph .bar3::after {
  max-width: 78%;
}

.wrapper .middle .left .graph span {
  color: #888888;
  font-size: 1.7vmin;
}

.wrapper .middle .left .graph .span__bar1 {
  display: inline-block;
  width: 90%;
}

.wrapper .middle .left .graph .span__bar2 {
  display: inline-block;
  width: 86%;
}

.wrapper .middle .left .graph .span__bar3 {
  display: inline-block;
  width: 78%;
}

.wrapper .middle .right {
  height: 100%;
  width: 40%;
  float: left;
  padding: 0 7vw;
}

.wrapper .middle .right .form__name, .wrapper .middle .right .form__email, .wrapper .middle .right .form__message {
  background-color: transparent;
  color: #888888;
  font-size: 1.7vmin;
  border-bottom: 2px solid #888888;
}

.wrapper .middle .right .form__name::-webkit-input-placeholder, .wrapper .middle .right .form__email::-webkit-input-placeholder, .wrapper .middle .right .form__message::-webkit-input-placeholder {
  color: #888888;
  font-size: 1.5vmin;
}

.wrapper .middle .right .form__name:focus, .wrapper .middle .right .form__email:focus, .wrapper .middle .right .form__message:focus {
  color: #888888;
  font-size: 1.5vmin;
}

.wrapper .middle .right .form__name {
  width: 48%;
  margin-right: 4%;
  float: left;
}

.wrapper .middle .right .form__email {
  width: 48%;
}

.wrapper .middle .right .form__message {
  width: 100%;
  margin-top: 4vmin;
}

.wrapper .middle .right .red__button {
  text-align: right;
}

.wrapper .footer {
  width: 100%;
  height: 40vh;
  background-color: #3999a9;
  color: #fff;
  text-align: center;
}

.wrapper .footer .social {
  font-size: 2.7vmin;
  padding: 3vmin 0;
}

.wrapper .footer .social a {
  margin: 0 5vmin;
  color: #fff;
}

.wrapper .footer hr {
  display: inline-block;
  border: none;
  height: 2px;
  width: 90%;
  background: #fff;
  opacity: 0.3;
}

.wrapper .footer .logo {
  padding: 5vmin 0;
}

.wrapper .footer .logo .logo__monochrome {
  height: 5vmin;
  font-size: 6vmin;
  font-weight: bold;
}

.wrapper .footer .copyright {
  display: inline-block;
  width: 50%;
}

.wrapper .footer .copyright span {
  color: #d1cccc;
  margin: 0 0.5vw;
}

.wrapper .footer .copyright a {
  color: #fff;
}

.wrapper .footer .copyright p {
  display: inline-block;
  line-height: 2;
  margin-top: 2vmin;
}

.red__button {
  padding-top: 5vh;
}

.red__button button {
  font-size: 1.5vmin;
  padding: 1.7vmin 5vmin;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px black;
  background-color: #ea1e63;
  color: white;
}

.red__button button:hover {
  background-color: #3999a9;
}

@keyframes slidein {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .left {
    width: 100%;
    background-color: turquoise;
  }
  .right {
    width: 100%;
    background-color: yellow;
  }
}
