.wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  .title {
    width: 100%;
    height: 100vh;
    background-image: url(../img/backgrnd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    .logo {
      padding-top: 10vmin;
    }
    .description {
      padding-top: 5vmin;
      h1 {
        text-transform: uppercase;
        font-size: 7vmin;
        font-weight: 900;
        padding-bottom: 2vmin;
      }
      p {
        padding-top: 1vmin;
        color: rgb(136, 136, 136);
        font-size: 2.5vmin;
      }
    }
    .counter {
      color: white;
      padding: 12vmin 0;
      .counter__block {
        display: inline-block;
        padding: 0 2vw;
        .digits {
          font-size: 7vmin;
          font-weight: 800;
        }
        .letters {
          text-transform: uppercase;
          padding-top: 1vmin;
        }
      }
    }
    input[type="email"] {
      background-color: transparent;
      width: 30vw;
      height: 4vh;
      color: white;
      font-size: 1.5vmin;
      border-bottom: 2px solid white;
      &::-webkit-input-placeholder {
        color: white;
        font-size: 1.5vmin;
      }
      &:focus {
        color: white;
        font-size: 1.5vmin;
      }
    }
    .mouse__scroll {
      display: block;
      margin: 0 auto;
      width: 24px;
      height: 100px;
      margin-top: 3.5vmin;
      .mouse {
        height: 42px;
        width: 24px;
        border-radius: 14px;
        transform: none;
        border: 2px solid white;
        top: 170px;
        .wheel {
          height: 5px;
          width: 2px;
          display: block;
          margin: 5px auto;
          background: white;
          position: relative;
          height: 4px;
          width: 4px;
          border: 2px solid #fff;
          border-radius: 8px;
          animation: mouse-wheel 0.6s linear infinite;
        }
      }
      .arrows {
        display: block;
        width: 5px;
        height: 5px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        margin: 0 0 3px 4px;
        width: 16px;
        height: 16px;
      }
      .one, .two, .three {
          animation: mouse-scroll 1s infinite;
      }
      .one {
        margin-top: 1px;
        animation-direction: alternate;
        animation-delay: alternate;
      }
      
      .two {
        animation-delay: .2s;
        animation-direction: alternate;
        margin-top: -6px;
      }
      
      .three {
        animation-delay: .3s;
        animation-direction: alternate;
        margin-top: -6px;
      }
    }
  }
  .middle {
    display: table;
    width: 100%;
    height: auto;
    padding: 9vh 0;
    .span__red {
      color: #ea1e63;
    }
    h2 {
      text-transform: uppercase;
      font-size: 2.5vmin;
      font-weight: bold;
      padding-bottom: 3vmin;
    }
    p {
      color: rgb(136, 136, 136);
      font-size: 1.7vmin;
      line-height: 2.5;
      margin-bottom: 5vmin;
    }
    .left {
      height: auto;
      width: 60%;
      float: left;
      padding: 0 7vw;
      .graph {
        width: 100%;
        .bar {
          height: 5px;
          position: relative;
          margin: 15px 0 30px;
        }
        .bar::before {
          content: '';
          width: 100%;
          position: absolute;
          left: 0;
          height: 5px;
          top: 0;
          z-index: -2;
          background: rgb(136, 136, 136);
        }
        .bar::after {
          content: '';
          background: #4fcfdd;
          height: 5px;
          transition: 0.7s;
          display: block;
          width: 100%;
          animation: 3s slidein;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        }
        .bar1::after {
          max-width: 90%;
        }
        .bar2::after {
          max-width: 86%;
        }
        .bar3::after {
          max-width: 78%;
        }
        span {
          color: rgb(136, 136, 136);
          font-size: 1.7vmin;
        }
        .span__bar1 {
          display: inline-block;
          width: 90%;
        }
        .span__bar2 {
          display: inline-block;
          width: 86%;
        }
        .span__bar3 {
          display: inline-block;
          width: 78%;
        }
      }
    }
    .right {
      height: auto;
      width: 40%;
      float: left;
      padding: 0 7vw;
      .form__name, .form__email, .form__message{
        background-color: transparent;
        color:rgb(136, 136, 136);
        font-size: 1.7vmin;
        border-bottom: 2px solid rgb(136, 136, 136);
        &::-webkit-input-placeholder {
          color: rgb(136, 136, 136);
          font-size: 1.5vmin;
        }
        &:focus {
          color: rgb(136, 136, 136);
          font-size: 1.5vmin;
        }
      }
      .form__name {
        width: 48%;
        margin-right: 4%;
        float: left;
      }
      .form__email {
        width: 48%;
        float: left;
      }
      .form__message {
        width: 100%;
        margin-top: 4vmin;
      }
      .red__button {
        text-align: right;
      }
    }
  }
  .footer {
    width: 100%;
    height: auto;
    background-color: #3999a9;
    color: #fff;
    text-align: center;
    #upBtn {
      display: none;
      font-size: 7vmin;
      background: transparent;
      color: #ea1e63;
      position: fixed;
      bottom: 15px;
      left: 90vw;
      z-index: 99;
    }
    .social {
      font-size: 2.7vmin;
      padding: 3vmin 0;
      a {
        margin: 0 5vmin;
        color: #fff;
      }
    }
    hr {
      display: inline-block;
      border: none;
      height: 2px;
      width: 90%;
      background: #fff;
      opacity: 0.3;
    }
    .logo {
      padding: 5vmin 0;
      .logo__monochrome {
        height: 5vmin;
        font-size: 6vmin;
        font-weight: bold;
      }
    }
    .copyright {
      display: inline-block;
      width: 50%;
      font-size: 1.7vmin;
      span {
        color: rgb(209, 204, 204);
        margin: 0 0.5vw;
      }
      a {
        color: #fff;
      }
      p {
        display: inline-block;
        line-height: 2;
        margin: 2vmin 0 5vmin;
      }
    }
  }
}
.red__button {
  padding-top: 5vh;
  button {
      font-size: 1.5vmin;
      padding: 1.7vmin 5vmin;
      border-radius: 5px;
      box-shadow: 0 0 5px 3px black;
      background-color: #ea1e63;
      color: white;
      &:hover {
        background-color: #3999a9;
      }
  }
}

@keyframes slidein {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

@media screen and (max-width: 900px) {
  .wrapper .middle .left {
    height: 50%;
    width: 100%;
  }
  .wrapper .middle .right {
    height: 50%;
    width: 100%;
  }
}